<ion-content>
  <div class="background">
    <div class="card">

      <!-- Logo -->
      <div class="avatar-container">
        <div class="logo-icon">
          <svg width="44" height="44" viewBox="0 0 44 44">
            <rect x="8" y="10" width="18" height="3" rx="1.5" fill="white" opacity="0.9"/>
            <rect x="8" y="18" width="24" height="3" rx="1.5" fill="white" opacity="0.9"/>
            <rect x="8" y="26" width="14" height="3" rx="1.5" fill="white" opacity="0.9"/>
            <circle cx="5" cy="11.5" r="2.5" fill="white" opacity="0.9"/>
            <circle cx="5" cy="19.5" r="2.5" fill="white" opacity="0.9"/>
            <circle cx="5" cy="27.5" r="2.5" fill="white" opacity="0.9"/>
            <circle cx="34" cy="30" r="8" fill="#AFA9EC"/>
            <path d="M30 30 L33 33 L39 26" fill="none" stroke="white"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <h1 class="app-name">SmartTask</h1>
        <p class="app-subtitle">crea tu cuenta</p>
      </div>

      <h2 class="title">Registro</h2>

      <!-- Usuario -->
      <ion-item lines="none" class="input-item">
        <ion-icon name="person-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="username"
          type="text"
          placeholder="Usuario"
          clearInput="true">
        </ion-input>
      </ion-item>

      <!-- Contraseña -->
      <ion-item lines="none" class="input-item">
        <ion-icon name="lock-closed-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="password"
          type="password"
          placeholder="Contraseña"
          clearInput="true">
        </ion-input>
      </ion-item>

      <!-- Confirmar contraseña -->
      <ion-item lines="none" class="input-item">
        <ion-icon name="shield-checkmark-outline" slot="start" class="input-icon"></ion-icon>
        <ion-input
          [(ngModel)]="confirmPassword"
          type="password"
          placeholder="Confirmar contraseña"
          clearInput="true">
        </ion-input>
      </ion-item>

      <!-- Botón registrar -->
      <ion-button expand="block" class="login-btn" (click)="onRegister()">
        Crear cuenta
      </ion-button>

      <!-- Volver al login -->
      <ion-button expand="block" fill="outline" class="register-btn" (click)="goToLogin()">
        Ya tengo cuenta
      </ion-button>

    </div>
  </div>
</ion-content>